.About-section{
    margin-left: 80px;
    margin-top: 20px;
    text-align: left;
}

.About-section div {
    padding: 2rem;
    border-radius: 10px;
    background-color: #1a1c1e;
}
.social-links{
    position: relative;
    right: 2rem;

}
.social-links i{
    font-size: 35px;
    color: white;
    margin: 0 10px;
}